$default-border-radius: 18px !default;
@mixin border-radius($radius: $default-border-radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

$base-fontSize: 16px !default;
@function em($pixels, $context: $base-fontSize) {
	@return #{$pixels/$context}em
}

@mixin padding($padding_top, $padding_right, $padding_bottom, $padding_left, $context) {
	@if ($padding_top != '') {
		padding-top: em($padding_top, $context);
	}
	@if ($padding_right != '') {
		padding-right: em($padding_right, $context);
	}
	@if ($padding_bottom != '') {
		padding-bottom: em($padding_bottom, $context);
	}
	@if ($padding_left != '') {
		padding-left: em($padding_left, $context);
	}
}

@mixin position-coord($position, $top, $right, $bottom, $left) {
	position: $position; 
	@if ($top != '') {
		top: $top;
	}
	@if ($right != '') {
		right: $right;
	}
	@if ($bottom != '') {
		bottom: $bottom;
	}
	@if ($left != '') {
		left: $left;
	}
}